db-container/target/*
**/*.orig
dist/heap-flow/*.tar.gz
dist/heap-flow/*.zip
heap-flow.zip
logs/
logs/*
/.DS_Store
heap_flow_reports/heap_flow_reports/.idea/
heap_flow_reports/heap_flow_reports/heap_flow_reports.iml
heap_flow_reports/heap_flow_reports/target/