<div class="heap-grid">

    <h2>Running short on following Items</h2>

    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>

    <div class="heap-table-container">
        <mat-table class="heap-table mat-elevation-z8" [dataSource]="dataSource">

           
            <ng-container matColumnDef='itemCode'>
                <mat-header-cell *matHeaderCellDef>Item Code</mat-header-cell>
                <mat-cell *matCellDef='let inventory'>{{inventory.itemCode}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef='uom'>
                <mat-header-cell *matHeaderCellDef>Unit Of Measure</mat-header-cell>
                <mat-cell *matCellDef='let inventory'>{{inventory.uom}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef='descriptions'>
                <mat-header-cell *matHeaderCellDef>Descriptions</mat-header-cell>
                <mat-cell *matCellDef='let inventory'>{{inventory.descriptions}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef='avialableQuantity'>
                <mat-header-cell *matHeaderCellDef>Avialable Quantity</mat-header-cell>
                <mat-cell *matCellDef='let inventory'>{{inventory.avialableQuantity}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef='reservQuantity'>
                <mat-header-cell *matHeaderCellDef>Reserve Quantity</mat-header-cell>
                <mat-cell *matCellDef='let inventory'>{{inventory.reservQuantity}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef='category'>
                <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
                <mat-cell *matCellDef='let inventory'>{{inventory.category}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
    </div>

    <mat-paginator [pageSize]="500" [pageSizeOptions]="[500, 1000, 2000]"></mat-paginator>


</div>