<nav class="subnav">

        <ul class="nav">
            
        
            <li class="nav-item">
                <a class="nav-link" routerLink="inventory">
                        <clr-icon shape="building" class="is-solid"></clr-icon>
                        <span class="title">Inventory</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="transactions">
                        <clr-icon shape="line-chart"></clr-icon>
                    <span class="title">Transaction</span>
                </a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" routerLink="reports">
                    <clr-icon shape="file-group" class="is-solid"></clr-icon>
                    <span class="title">Reports</span>
                    </a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" routerLink="vendors">
                            <clr-icon shape="shopping-cart" class="is-solid"></clr-icon>
                            <span class="title">Vendors</span>
                    </a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" routerLink="machines">
                            <clr-icon shape="cog" ></clr-icon>
                            <span class="title">Machines</span>
                    </a>
            </li>
            <li class="nav-item">
    
                    <a class="nav-link" routerLink="about">
                            <clr-icon shape="help-info" class="is-solid"></clr-icon>
                            <span class="title">About</span>
                    </a>
            </li>
        </ul>
    
        </nav>
        
