<div class="heap-grid">

  <!-- <img class="heap-grid-thumbnail" [src]="course?.iconUrl"> -->

  <mat-form-field>
    <input matInput placeholder="Search Inventory" #input>
  </mat-form-field>

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table class="heap-table mat-elevation-z8" [dataSource]="dataSource">

    <ng-container matColumnDef="inventoryItemCode">
      <mat-header-cell *matHeaderCellDef>Item Code</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.inventoryItemCode}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Desc 1</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.descriptions.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description2">
      <mat-header-cell *matHeaderCellDef>Desc 2</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.descriptions.description2}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description3">
      <mat-header-cell *matHeaderCellDef>Desc 3</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.descriptions.description3}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description4">
      <mat-header-cell *matHeaderCellDef>Desc 4</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.descriptions.description4}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description5">
      <mat-header-cell *matHeaderCellDef>Desc 5</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.descriptions.description5}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description6">
      <mat-header-cell *matHeaderCellDef>Desc 6</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.descriptions.description6}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="baseUnitMeasure">
      <mat-header-cell *matHeaderCellDef>Base Unit Measure</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.baseUnitMeasure}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="productGrpCode">
      <mat-header-cell *matHeaderCellDef>Product Group Code</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.productGrpCode}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="genProductPostingGrp">
      <mat-header-cell *matHeaderCellDef>Gen Product Posting Group</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.genProductPostingGrp}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="itemCategoryCode">
      <mat-header-cell *matHeaderCellDef>Item Category Code</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.itemCategoryCode}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="gstGrpCode">
      <mat-header-cell *matHeaderCellDef>Gst Grp Code</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.gstGrpCode}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="hsnSacCode">
      <mat-header-cell *matHeaderCellDef>HSN-SAC Code</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.hsnSacCode}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="creation">
      <mat-header-cell *matHeaderCellDef>Created Date</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.creation}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="modified">
      <mat-header-cell *matHeaderCellDef>Modified Date</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.modified}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="logData(row)"></mat-row>
  </mat-table>


  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50]"></mat-paginator>

</div>